:root {
  --scrollbar-width: 8px;
  --scrollbar-background-color: #F5F7FA;
  --scrollbar-thumb-color: #E0E5EB;
}

body {
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-background-color);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
  border-radius: calc(var(--scrollbar-width) / 2);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: calc(var(--scrollbar-width) / 2);
}
