@layer base {
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    text-align: start;
  }

  thead {
  }

  th {
    @apply bg-neutral-200 border-neutral-300 py-2 px-4;

    border-width: 1px 0;
    text-align: start;
  }

  th:first-child {
    border-left-width: 1px;
    border-top-left-radius: 12px;
  }

  th:last-child {
    border-right-width: 1px;
    border-top-right-radius: 12px;
  }

  th:empty {
    width: 1px;
  }

  tbody {
    @apply bg-neutral-100;
  }

  table tbody:only-of-type tr:only-of-type {
    display: table-row;
  }

  td {
    @apply py-3 px-6 text-body-xs;

    border-bottom-width: 1px;
  }

  td:first-child {
    border-left-width: 1px;
  }

  td:last-child {
    border-right-width: 1px;
  }

  td a {
    text-decoration: underline;
  }
}

@layer components {
  .table-container {
    @apply flow-root;

    width: 100%;
    overflow-x: auto;
  }

  .table-label {
    @apply text-h6 text-neutral-700 p-1 px-2;

    display: inline-flex;
    align-items: center;
    border-radius: 8px;
  }

  .table-label.active {
    @apply text-neutral-900 bg-neutral-300;
  }
}
